Checks: >
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -bugprone-easily-swappable-parameters,
  -modernize-use-nodiscard,
  -readability-convert-member-functions-to-static
WarningsAsErrors: '*'
HeaderFilterRegex: 'include/futu_trader/.*'
